@use 'sass:math';

$sidebar-opened-width: 204px;
$sidebar-closed-width: 64px;

%flex-layout {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  box-sizing: border-box;
}

.admin-layout {
  .header {
    width: 100%;
    height: 64px;
  }
  .footer {
    width: 100%;
    z-index: 999;
  }

  .aside {
    height: 100%;
    background-color: #f0f0f0;
    transition: all 0.2s ease;
    width: $sidebar-closed-width;
  }

  .aside.open {
    width: $sidebar-opened-width;
  }

  .main {
    min-height: 80vh;
    padding: 1rem;
    overflow: auto;
    transition: all 0.2s ease;
    background-color: #f5f5f5;
    width: 100%;
    
    @media (min-width: 768px) {
      padding: 1.5rem;
    }
    
    @media (min-width: 1024px) {
      padding: 2rem;
    }
    
    @media (min-width: 1280px) {
      padding: 2.5rem;
    }
  }
}

.layout-content {
  background-color: #fff;
  height: 100%;
  width: 100%;
}

section {
  padding: math.div($base-padding, 4) $base-padding;
  .title {
    font-size: $font-size-lg;
  }
  .description {
    font-size: $font-size-md;
    color: #555;
  }
}
